.filter-type {
  max-height: 21px;
  overflow-y: hidden;
  margin-bottom: 10px;
  transition: max-height 0.4s;
}

.search {
  &.active {
    height: auto;
    max-height: 100px;
  }
}

.category {
  &.active {
    height: auto;
    max-height: 200px;
  }
}

.search {
  margin-bottom: 20px;
}
.filter-form {
  margin-bottom: 40px;
}
.form {
  p {
    margin: 0;
    margin-bottom: 10px;
  }

  &__random,
  &__category,
  &__search {
    &:focus + .radio-label::before {
      border-color: $outline-color;
    }
    &:checked + .radio-label::before {
      border-color: $main-text-color;
    }
  }

  &__search-btn {
    width: 152px;
    padding: 10px 5px;
    height: 42px;
    background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
    border-radius: 10px;
    border: 2px solid transparent;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    &:hover,
    &:active {
      background: linear-gradient(92.01deg, #8ea7ff 0%, #667ed3 100%);
    }
  }
  &__search-input {
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    border: 2px solid $main-text-color;
    border-radius: 10px;
    font-size: 16px;
    color: $grey-text-color;
    outline: none;

    &:focus {
      border-color: $outline-color;
    }
  }
}
