@import-normalize;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  color: $main-text-color;
  margin: 0;
}

html,
body,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 960px;
  padding: 0 140px;
  margin: 0 auto;
}

a {
  color: #8ea7ff;
  outline: $outline-color;
  &:focus {
    outline-color: #a6c7ff;
    outline-style: auto;
  }
}

//  Global mixins styles

@mixin background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin vertical-list($left-margin, $text-color) {
  @include reset-list;

  li {
    display: inline-block;

    & + li {
      margin-left: $left-margin;
    }
    a {
      color: $text-color;
    }
  }
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

// Global control elements styles

.radio-input:checked,
.radio-input:not(:checked) {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.radio-label {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding-left: 35px;
  cursor: pointer;
}

.radio-input:not(:checked) + .radio-label::before,
.radio-input:checked + .radio-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid $main-text-color;
  border-radius: 50%;
}

.radio-input:not(:checked) + .radio-label::after,
.radio-input:checked + .radio-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $main-text-color;
  transition: all 0.2s;
}

.radio-input:not(:checked) + .radio-label::after {
  opacity: 0;
  transform: scale(0);
}

.radio-input:checked + .radio-label::after {
  opacity: 1;
  transform: scale(1);
}

.button {
  border: 1px solid transparent;
  padding: 0px;
  background: none;
  outline: none;

  &:focus {
    border-color: $outline-color;
  }
}

.pin-btn {
  position: relative;
  width: 20px;
  height: 17px;
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    transform: scale(1.2);
  }

  &__img {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 17px;
    @include background-image;
  }
}

// Global media styles

@media (min-width: 1340px) {
  .container {
    margin: initial;
  }
}

@media (min-width: 1710px) {
  .container {
    margin: 0 auto;
  }
}

@media (max-width: 834px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0 20px;
  }
}
