html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $main-text-color;
}

html,
body,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 960px;
  padding: 0 140px;
  margin: 0 auto;
}

a {
  color: #8ea7ff;
  outline: $outline-color;
  &:focus {
    outline-color: #a6c7ff;
    outline-style: auto;
  }
}

//  Global mixins styles

@mixin background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin vertical-list($left-margin, $text-color) {
  @include reset-list;

  li {
    display: inline-block;

    & + li {
      margin-left: $left-margin;
    }
    a {
      color: $text-color;
    }
  }
}
