.home-page__header {
  padding: 40px 0;
  margin-bottom: 37px;
}

.header {
  &__inner {
    display: flex;
    align-items: center;
    min-height: 36px;
  }

  &__headline {
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }

  &__menu-btn {
    display: none;

    &.active {
      display: none;
    }
  }
}

@media (max-width: 1340px) {
  .header__menu-btn {
    display: block;
  }
}
