.home-page__header {
  padding: 40px 0;
  margin-bottom: 37px;
}

.menu-btn {
  padding: 3px;
  padding-left: 38px;
  margin-left: auto;

  &:focus {
    border-color: $outline-color;
  }
}

.header {
  &__inner {
    display: flex;
    align-items: center;
  }

  &__headline {
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }

  &__menu-btn {
    display: none;
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $grey-text-color;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      width: 28px;
      height: 28px;
      @include background-image;
      background-image: url(../../assets/images/home-page/menu-closed.svg);
    }
  }
}

@media (max-width: 1340px) {
  .header__menu-btn {
    display: block;
  }
}
