.jokecard {
  margin-bottom: 20px;
  border-radius: 20px;

  &-header {
    margin-bottom: 10px;
    text-align: right;
  }

  &-body {
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
  }

  &-img {
    @include background-image;
    background-size: 20px 18px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: $light-grey-color;
  }

  &-id {
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    color: $grey-text-color;

    &__link::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left: 5px;
      background: url(../../assets/images/home-page/joke-card/link-icon.svg);
    }
  }

  &-label {
    margin-right: 4px;
  }

  &-updated {
    margin-left: 60px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    color: $grey-text-color;
  }

  &-tag {
    float: right;
    padding: 5px 20px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #fff;
    border-radius: 6px;
  }

  &-footer {
    @include clearfix;
  }
}
