.favourite {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.3);
  visibility: hidden;

  &-content {
    position: fixed;
    right: 0px;
    width: 480px;
    height: 100%;
    padding: 40px;
    padding-right: 20px;
    background: $light-grey-color;
    visibility: visible;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    ::-webkit-scrollbar {
      display: block;
      width: 5px;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background: $grey-text-color;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgba($main-text-color, 0.6);
    }
  }

  &-header {
    margin-bottom: 20px;
  }

  &__menu-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    height: 28px;

    &::before {
      background-image: url(../../assets/images/home-page/menu-close-icon.svg);
    }
  }

  &-title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $grey-text-color;
  }

  &__list {
    height: 100%;
    max-width: 450px;
    width: 100%;
    overflow: hidden auto;
  }

  &-joke {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
  }

  &__item {
    border: 1px solid $light-grey-color;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    &-text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (max-width: 1340px) {
  .favourite {
    visibility: hidden;
    opacity: 0;
    transition: all 0.9s;

    &-content {
      opacity: 0.8;
      right: -480px;
    }

    &.active {
      visibility: visible;
      opacity: 1;

      .favourite-content {
        opacity: 1;
        right: 0;
      }
    }
  }
}
