.favourite {
  display: initial;
  position: fixed;
  right: 0px;
  width: 480px;
  height: 100%;
  padding: 40px;
  padding-right: 20px;
  background: $light-grey-color;

  ::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    ::-webkit-scrollbar {
      display: block;
      width: 5px;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background: $grey-text-color;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgba($main-text-color, 0.6);
    }
  }

  &-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $grey-text-color;
  }

  &__list {
    height: 100%;
    max-width: 450px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-joke {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
  }

  &__item {
    border: 1px solid $light-grey-color;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    &-text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
